.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-height: var(--header-height);
  min-height: var(--header-height);
  padding: 0 50px;
  margin: 0 -50px;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 460px;
    width: 100%;
    margin-left: auto;
  }
}

.playerWrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.score {
  font-size: 2rem;
}

.playerData {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 0.9rem;
  color: var(--text-light);
}

.turnDisplay {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-height: 1.25rem;
  font-size: 1.25rem;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: auto;

  > * {
    min-width: 90%;
    min-height: 2px;
    border: 3px solid var(--lm-text);
  }
}
