:root {
  --width: 400px;
  --lm-body-bg: #f5f5f5;
  --lm-main-bg: #fff;
  --lm-text: #000;
  --text-invert: #fff;
  --text-light: #808080;
  --interactable-shadow: 0 0 7px 4px #dc3222;
  --main-border-radius: 5px;
  --main-button-transition-time: 0.1s;
  --main-nav-selected: rgba(85, 205, 252, 0.5);
  --main-card-gap: 10px;
  --overlay: rgba(0, 0, 0, 0.6);
  --header-height: 120px;
  --modal-z-index: 999999999999999;
  --z-index-normal: 1;
  --z-index-slightly-above: 10;
  --z-index-above: 20;
  --z-index-very-above: 30;
  --z-index-skyhigh: 50;
}

@font-face {
  font-family: "Azoft";
  src: url("./fonts/azoft-sans-bold.ttf");
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  border: unset;
  background: unset;
  font-family: "Azoft";
  text-transform: uppercase;
}

html,
body {
  padding: 0;
  margin: 0;
  min-width: var(--width);
  min-height: 100vh;
  font-size: 16px;
}

body {
  background-color: var(--lm-body-bg);
}

#__next {
  display: grid;
  grid: minmax(600px, 1fr) / 1fr minmax(var(--width), 960px) 1fr;
  justify-content: center;
  align-items: center;
  min-width: var(--width);
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-button {
  height: fit-content;
  border-radius: var(--main-border-radius);
  transition: all var(--main-button-transition-time);

  &:active {
    border-color: var(--main-nav-selected);
    background-color: var(--main-nav-selected);
    box-shadow: 0 0 0 rgba(#fff, 0);
  }
}

.clickable {
  cursor: pointer;
}

.hide {
  display: none;
  visibility: hidden;
}

.flex {
  display: flex;

  &.space-between {
    justify-content: space-between;
  }

  &.space-around {
    justify-content: space-around;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.justify-center {
    justify-content: center;
  }
}

.modal {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 960px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-invert);
}

@media (max-width: 540px) {
  #__next {
    overflow: scroll;
  }
}
